{% extends "base.html" %}

{% block content %}

<div class="bg-white py-10 px-4 mx-2 rounded-md">
    <div class="">
        <h2 class="mb-4 font-semibold">Please Confirm your Deposit</h2>
        <p>Plan: {{ invest.get_plan_display }}</p>
        <p>Spent Amount: ${{ invest.spent_amount }}</p>
        <p>Profit: {{ invest.profit_percentage }}%</p>
        <p class="mt-10 mb-4">Bitcoin: bc1qsylvy445wrf0j9k6c3fxku2rpzclfukstk5lgf</p>
        <p class="mt-4 mb-4">Ethereum: 0xe1D835AF066DE7d2ff30b107803F845f43450037</p>
        <p class="mt-4 mb-4">USDT (BEP20): 0xe1D835AF066DE7d2ff30b107803F845f43450037</p>
    </div>
    
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="transaction_id">Transaction ID:</label>
            <input type="text" id="transaction_id" name="transaction_id" required>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}
