<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title>Register</title>
   
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-[#020617]">
    <div class="flex justify-center ">

        <div class=" px-4 mt-20 shadow-md rounded-lg bg-[#0f172a] text-white py-10">
            <div class="text-center flex justify-center align-middle">
                <img src="{% static 'images/tokenix.png' %}" alt="db" class="w-40 mb-4 mr-2 ml-4 text-gray-200" width="25px">
            </div>
            
            <form method="post" enctype="multipart/form-data" class="">
                {% csrf_token %}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit" class="my-4">Register</button>
                <p class="mb-4">Have an account? <a href="{% url 'login' %}" class="hover:underline">Login</a></p>
            </form>
        </div>

    </div>
</body>
</html>
